<th:block th:fragment="modal">
<div class="modal fade" id="nuevoModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva Serie</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formNuevaSerie">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="label" for="tipoDocumento">Tipo de
                                documento</label>
                            <select id="tipoDocumentoSunat" class="form-control" name="tipoDocumentoSunat" required>
                                <option value="" selected>-- TODOS --</option>
                                <option th:each="item : ${listaTipoDocumento}"
                                        th:value="${item.codigo}" th:text="${item.descripcion}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="label" for="campoDescripcion">Descripción: </label> <input
                                class="form-control"
                                type="text" id="descripcion" name="descripcion"
                                placeholder="" required/>
                        </div>
                        <div class="col-sm-3">
                            <label class="label" for="nroSerie">Serie: </label> <input class="form-control"
                                                                                       type="text" id="nroSerie"
                                                                                       name="nroSerie" maxlength="4"
                                                                                       placeholder=""/>
                        </div>
                        <div class="col-sm-3">
                            <label class="label" for="correlativo">Correlativo: </label> <input class="form-control"
                                                                                                type="text"
                                                                                                id="correlativo"
                                                                                                name="correlativo"
                                                                                                placeholder=""/>
                        </div>
                        <div class="col-sm-3">
                            <label class="label" for="maxcorrelativo">Máx. Correlativo: </label> <input
                                class="form-control"
                                type="text" id="maxcorrelativo" name="maxcorrelativo"
                                placeholder=""/>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="guardarSerie()">
                    <i class="fas fa-save"></i> Guardar
                </button>
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    <i class="fas fa-times-circle"></i> Cerrar
                </button>
            </div>
            </form>
        </div>
    </div>
</div>

</th:block>